.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
}
#heading {
  color: blue;
  background-color: beige;
  padding: 20px;
  margin: 0px 0px 40px 0px;
}

input {
  padding: 1rem;
  font-size: 1.2rem;
  width: 80%;
}
